{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим из Новосибирска</h1>
    <p class="mb-4">Найдено 15 туров, от 26 000 до 84 600 и от 4 ночей до 15 ночей</p>
{% endfor %}
    <!-- CARDS -->
    <div class="container">
    <div class="row">
        {% for tour in tours.values() %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ current_tour['title'] }}</h2>
              {% filter truncate %}
            <p class="card-text">{{ current_tour['description'] }}</p>
              {% endfilter %}<br>
            <h2 class="h5 card-title">Цена {{ tour.price }}</h2>
            <h2 class="h5 card-title">Звезды {{ tour.stars }}</h2>
            <h2 class="h5 card-title">Страна {{ tour.country }}</h2>
            <h2 class="h5 card-title">Ночей {{ tour.nights }}</h2>
            <h2 class="h5 card-title">Дата {{ tour.date }}</h2>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}